.About {
  background-color: #202020;
  min-height: 98vh;
  color: black;
}

.jumbotron-fluid {
  text-shadow: #444 0 1px 1px;
  color: #FFF;
  position: relative;
  height: 30vh;

  display: block;
  align-items: center;
}