.Categories {
    text-align: center;
    background-color: #202020;
    min-height: 96vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .sidenav {
    width: 150px;
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 250px;
    background: #202020;
    overflow-x: hidden;
    padding: 8px 0;
  }
  .sidenav a {
    padding: 20px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    text-align: left;
  }
  
  .sidenav a:hover {
    color: #525252;
    text-decoration: none;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
  
  .advert {
    width: 350px;
    position: absolute;
    z-index: 1;
    top: 200px;
    right: 100px;
    background: #202020;
    overflow-x: hidden;
    padding: 8px 0;
  }
  